
/* ================================ BY JAGSIR (START)===============================*/

td.formHeader {
    text-align:center;
    color: #6c6e58; 
    background-color: #fbf3e8; 
    font-weight: bold;
}
td.displayHeader {
    background-color: #417378; 
    font-size: 24px; 
    color: white;
}#divDetails td {
    padding:5px;
    text-align:center;
    border: 1px solid white;
}

#divForm td {
    padding:5px 10px;
    border-spacing: 1px;
}
#divDetails tr.itemTemp {
    background-color: #6C6E58; /*light gray*/
    color: #fff;
}
#divDetails tr.altItemTemp {
    background-color: #B2BB5D; /*lime green*/
    color: #fff;
}

#divDetails tr.colHeaderRow{
    background-color: #A4CFBE; /*light aqua*/
    font-size: 20px; 
    color: white; 
    height: 20px
}

/* ================================ BY JAGSIR (END)===============================*/
