<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="smtpHost" value="mail.brdhchumber.com" />
    <add key="fromEmail" value="info@brdhchumber.com" />
    <add key="fromName" value="Team BRDHC Humber" />
    <add key="mailPasswod" value="brdhc_2014" />
    <add key="webpages:Enabled" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="resumePath" value="~/FolderName/" />
    <add key="appName" value="/brdhc" />
  </appSettings>
  
  <connectionStrings>
    <add name="myCon" connectionString="Data Source=s10.winhost.com;Initial Catalog=DB_65818_brdhc;User ID=DB_65818_brdhc_user;Password=brdhc@2014" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <httpHandlers>
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" />
    <!--<customErrors defaultRedirect="error.aspx" mode="On"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms name="brdhc"/>-->

      <forms name=".FORM" loginUrl="login.aspx" defaultUrl="home.aspx" protection="All" timeout="30" path="/">
      </forms>
      
    </authentication>
    <membership defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="myCon" applicationName="/brdhc" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="myCon" applicationName="/brdhc" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <trust level="Full" />
  </system.web>
  
  <system.webServer>
    <directoryBrowse enabled="true" /> 
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="home.aspx" />
      </files>
    </defaultDocument>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>  
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.jagsirsingh.com" userName="brdhc@jagsirsingh.com" password="brdhc_2014" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>