<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

   <connectionStrings>
    <add name="myServer" connectionString = "Data Source=s10.winhost.com;Initial Catalog=DB_65818_brdhc;User ID=DB_65818_brdhc_user; Password=brdhc@2014;Integrated Security=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms"/>
    
    <membership defaultProvider="someProvider">
      <providers>
        <add name="someProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="myServer" applicationName="/brdhc" />
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="someProvider">
      <providers>
        <add name="someProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="myServer" applicationName="/brdhc" />
      </providers>
    </roleManager>
    
    <authorization>
      <allow users="?"/>
    </authorization>
    
  </system.web>
  
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.jagsirsingh.com" userName="brdhc@jagsirsingh.com" password="brdhc_2014" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
